# Replace example.com with your application's domain
# caddy.fransvilhelm.com {
:8080 {
  # nextjs:3000 is the docker container running the Node.js application
  # in our case it's exposed on port 3000
  reverse_proxy nextjs:3000
  # reverse_proxy nextjs:3000  {
  #   header_down Strict-Transport-Security max-age=31536000;
  # }
}